/* Body style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2vh;
    background-color: #ffffff;
}

/* Breadcrumb style */
.breadcrumbs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin: auto;
}

/* Initial and final breadcrumb style */
.broad-start, .broad-end {
    display: flex;
    align-items: center;
}

/* Initial breadcrumb links style */
.broad-start a {
    margin-right: 10px;
    position: relative;
}

/* Add a slash after each link except the last one */
.broad-start a::after {
    content: '/';
    position: absolute;
    right: -10px;
}

/* Remove the slash after the last link */
.broad-start a:last-child::after {
    content: '';
}

/* Separator and icon style in the final breadcrumb */
.broad-end .separator {
    border-left: 1px solid #000;
    height: 20px;
    margin: 0 10px;
}

.broad-end i {
    margin-left: 10px;
    /* Space between the icon and text */
}

/* Unnecessary repetition of styles */
.broad-start, .broad-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Unnecessary repetition of styles */
.broad-start a, .broad-end a {
    margin-right: 10px;
}

/* Style of links and published elements */
.publish, .publish a {
    color: #3565a9;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Correction of the separator in the final breadcrumb */
.broad-end .separator {
    border-left: 2px solid #ccc;
    /* Adjust color as needed */
    height: 15px;
    /* Adjust height as needed */
    margin: 0 10px;
    /* Space around the vertical line */
}

/* Correction of the space between the icon and text in the final breadcrumb */
.broad-end i {
    margin-left: 5px;
    /* Space between the icon and text */
}

/* General link style */
a {
    text-decoration: none;
    color: #9da3ae;
}

/* Status bar style */
.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    margin: 3.5vh;
    width: 100%;
    border-radius: 7.5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 5vh;
}

/* User section style */
#user-section {
    display: inline;
    /* Correct: flex to inline */
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 40px;
}

/* Style of status bar items */
.status-bar .item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

/* Start of the status bar style */
.status-start {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
}

/* End of the status bar style */
.status-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
}

/* Icon P style */
.icon-P {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    color: #347659;
    background-color: #d9f9e6;
}

#seta {
    transform: rotate(45deg);
}

/* Status bar icon styles */
.status-bar .icon-bar {
    margin-right: 10px;
    font-size: 1.5em;
    color: #ccc;
}

.status-bar .icon-bar:hover {
    color: #333;
}

.status-bar .icon-cloud {
    color: #43946c;
}

.status-bar .icon-ellipsis {
    color: #212936;
}

/* Text style in the status bar */
.status-bar .text {
    font-size: 1em;
    color: #ccc;
}

/* Content style */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Text styles */
.texto {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 0;
}

/* Content wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

/* H1 title style */
h1 {
    font-size: 6vh;
    margin: 0;
    color: #0d121c;
}

/* Horizontal line styles */
hr {
    color: #ccc;
    width: 100%;
}

/* Paragraph text style */
.texto p {
    font-size: 20px;
    margin: 0;
    margin-top: 2vh;
    line-height: 1.5;
    margin-bottom: 8vh;
    color: #4d5562;
}

/* Footer style */
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    direction: rtl;
    text-align: right;
    margin: auto;
    position: relative;
}

/* Input style in the footer */
.footer input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 20px;
    direction: ltr;
    text-align: left;
    outline: none;
}

/* Command input style */
#commandInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Placeholder style in command input */
#commandInput.placeholder-heading-1::placeholder {
    font-size: 40px;
    font-weight: bold;
}

/* Options style */
.options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 40%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding-bottom: 25vh;
    box-sizing: border-box;
    border-radius: 5px;
    direction: ltr;
    text-align: left;
    line-height: 1.5;
}

/* Option title styles */
.option-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

/* Title style */
.titulo {
    margin: 10px;
    padding: auto;
    line-height: 1.2;
}

/* Option description styles */
.option-description {
    margin-bottom: 10px;
    font-size: 15px;
    color: #555;
}

/* Filter keyword style */
.filter-keyword {
    margin: 10px;
    padding: auto;
}

/* Option styles */
.option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

/* Bold option styles */
.option.bold {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Bold text */
.option.bold .option-text {
    font-weight: bold;
}

/* Option hover style */
.option:hover {
    background-color: #f0f0f0;
}

/* Small text styles in options */
.option small {
    display: flex;
    color: #999;
}

/* Keyword styles */
.keyword {
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    padding: 0 5px;
    margin-left: 5px;
}

/* Option icon styles */
.option i {
    font-size: 2.5em;
    margin-right: 10px;
}

/* Option div styles */
.option div {
    display: flex;
    flex-direction: column;
}

/* Option text styles */
.option .option-text {
    flex: 1;
}

/* Small text styles in options */
.option small {
    font-size: 0.8em;
}

.heading-created {
    color: #212936;
}